* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  margin-bottom: 120px;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__header {
  background-image: linear-gradient(
    to right,
    #ea1152,
    #ea0068,
    #e50081,
    #d9009a,
    #c600b3,
    #b518c1,
    #a128ce,
    #8635db,
    #743ddf,
    #6044e2,
    #4749e4,
    #1e4ee6
  );
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
  flex: 0;
  width: 115px;
}

.app__loginContainer {
  display: flex;
  float: right;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: lightgray;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ea1152,
    #ea0068,
    #e50081,
    #d9009a,
    #c600b3,
    #b518c1,
    #a128ce,
    #8635db,
    #743ddf,
    #6044e2,
    #4749e4,
    #1e4ee6
  );
}

.app__footerText {
  text-align: center;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.app__footerUpload {
  text-align: center;
  color: white;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
